@use '../../../sass/abstracts' as *;

.banner {
  min-height: 90vh;
  @include flex(row, center, center);
  background: $darker-blue;
  
  .wrapper {
    padding: 5em 5vw;
    width: 100%;
    position: relative;

    h1 {
      font-weight: 600;
      letter-spacing: 5%;
      margin-bottom: 0.5em;
    }

    .inner-wrapper {
      position: relative;
      top: 0;
      left: 13%;
      width: 60%;
      @include flex(row, center, center);

      .vector {
        width: 30%;
        position: relative;
        top: -10em;
        right: -1.5em;
      }
    }

  
  }

}