@use '../../../sass/abstracts/' as *;

.design {
  min-height: 100vh;
  background: $darker-blue;
  padding-bottom: 25em;
  position: relative;

  @include media("<=phoneL") {
    padding-bottom: 5em;
  }

  hr {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  } 

  .blob {
    position: absolute;
    width: 100%;
    bottom: -0.3%;
    left: 0;

    @include media("<tablet") {
      bottom: -0.5%;
      z-index: 0;
      transform: translateX(-30%);
      width: 110em;
    }

    @include media("<phone"){
      transform: translateX(-40%);
    }
  }
}