@use '../../../sass/abstracts/' as *;

.hero {
  width: 100%;
  min-height: 100vh;
  padding: 0 5vw 10em 5vw;
  @include flex(column, space-around, center);
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 820px) and (min-height: 1180px) {
    min-height: 0;
  }

  @include media("<=tablet"){
    min-height: 50vh;
  }

  @include media("<=phoneL"){
    padding: 0;
  }

&-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(to bottom, $dark-blue, transparent);
    z-index: 1;
  }

  &-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(to top, $dark-blue, transparent);
    z-index: 1;
  }

  .header {
    // min-height: 40vh;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 2;

    @include media("<=tablet"){
      min-height: 40vh;
    }

    @include media("<=phoneL"){
      min-height: 0;
    }

    h1 {
      padding: 1rem 0;
      font-size: clamp(6rem, 13vw, 17rem) !important;
      font-weight: 700;
      line-height: 15rem;
      
      @include media("<=tablet"){
        line-height: 8rem;
      }

      @include media("<=phoneL"){
        line-height: 6rem;
      }
    }

    h3 {
      font-style: italic;

      @include media("<=phoneL"){
        padding-top: 0.5em;
      }
    }
  }

  .main {
    @include flex(row, center, flex-end);
    z-index: 2;
    position: relative;

    @include media("<=phoneL"){
      padding: 1em 5vw 2em 5vw;
    }
    
    p {
      text-align: center;
      padding: 2em 0;

           
      @include media("<=phoneL"){
        text-align: left;
      }
    }
  }

  .bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(47, 46, 65, 0.95);
      z-index: 1;
    }
  }

  .blob {
    display: none;

    img {
      width: auto;
      transform: translateY(10px);
    }

    @include media("<tablet") {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      transform: translateX(-30%);
      width: 110em;
    }

    @include media("<phone"){
      transform: translateX(-40%);
    }
  }
}