@use '../../../sass/abstracts/' as *;

.idea {
  position: relative;
  // min-height: 100vh;
  padding-bottom: 10em;
  
  @include media("<=tablet"){
    min-height: 40vh;
  }

  @include media("<tablet"){
    min-height: 40vh;
    background: rgb(0, 0, 0, 0.2);
  }

  @include media("<=phoneL") {
    min-height: 30vh;
    padding-bottom: 2em;
  }

  hr {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  } 

  main {
    width: 100%;
    height: 100%;
    padding: 0 5vw;
    @include flex(row, center, flex-start);
    gap: 2em;

    @include media("<=tablet"){
      min-height: 40vh;
    }

    @include media("<=phoneL") {
      min-height: 30vh;
      padding-top: 2em;
    }

    .paragraph {
      flex: 1;
      @include flex(row, center, center);
      z-index: 1;
    }

    .image {
      flex: 1;
      z-index: 1;
      transform: translateX(10%);

      @include media("<tablet"){
        display: none;
      }
    }
  }

  .blob {
    position: absolute;
    bottom: -0.5%;
    left: 0%;
    width: 100%;

    @include media("<=tablet"){
      bottom: -0.6%;
      overflow-x: hidden;
    }

    @include media("<=phoneL"){
      display: none;
    }

    svg {
      width: 100%;
      z-index: -2;
    
      @include media("<=tablet"){
        width: 200%;
        transform: translateX(-25%);
      }
  
      @include media("<=phoneL"){
        transform: translateX(-35%);
      }
    }
  }
}