@use '../sass/abstracts' as *;

    svg {
      width: 100%;
      height: 100%;
    }
    
    .lamp {
      width: calc(35 * 1vw);
      position: absolute;
      top: 1%;
      left: -15%;
      z-index: -1;
    
      @include media("<=tablet"){
        top: -1%;
      }
    
      @include media("<=phoneL"){
        width: 20em;
        top: -1%;
      }
    
      @include media("<=phone"){
        width: 15em;
        top: 2%;
      }
    }
    
    .gear-medium {
      width: calc(12 * 1vw);
      position: absolute;
      top: 5%;
      right: 10vw;
    
      @include media("<=tablet"){
        top: 3%;
      }
    
      @include media("<=phoneL"){
        width: 8em;
      }
    
      @include media("<=phone"){
        width: 5em;
        top: 10%;
      }
    }
    
    .gear-small {
      width: calc(9 * 1vw);
      position: absolute;
      top: 6%;
      right: 50%;
    
      @include media("<=tablet"){
        top: 8%;
      }
    
      @include media("<=phoneL"){
        top: 15%;
        right: 40%;
      }
    }
    
    .gear-mini {
      width: calc(6 * 1vw);
      position: absolute;
      top: 25%;
      right: 60%;
    }
    
    .gear-micro {
      width: calc(3 * 1vw);
      position: absolute;
      top: 30%;
      right: 22%;
    }
    
    .tools-medium {
      width: calc(12 * 1vw);
      position: absolute;
      bottom: 20%;
      right: 30%;
    }
    
    .tools-micro {
      width: calc(3 * 1vw);
      position: absolute;
      bottom: 35%;
      left: 13.5%;
    }
    
    img {
      width: 100%;
      height: 100%;
    }  

